{%extends 'layout.html'%}
{%block content%}
<div class="container-fluid d-grid">
    <h1
      id="about-us-title"
      class="mx-auto mt-2 mb-5 fw-bold font-monospace border-bottom border-danger"
    >
      SOS Hotline in India
    </h1>
    <div class="container-sm mx-auto">
        <ul class="list-group">
            <li class="list-group-item"><h4>Mann Talks</h4>Contact Number: +91 8686139139 <br><a class="link-info text-decoration-none" href="https://www.manntalks.org/?utm_source=themindclan.com" target="_blank">https://www.manntalks.org/?utm_source=themindclan.com</a></li>
            <li class="list-group-item"><h4>Vandrevala Foundation Helpline</h4>Contact Number: +91 9999666555 <br><a class="link-info text-decoration-none" href="https://www.vandrevalafoundation.com/?utm_source=themindclan.com" target="_blank">https://www.vandrevalafoundation.com/?utm_source=themindclan.com</a></li>
            <li class="list-group-item"><h4>Sangath Helpline</h4>
                Contact Number: 011-41198666<br>
                <a class="link-info text-decoration-none" href="https://sangath.in/tele-counselling/" target="_blank">https://sangath.in/tele-counselling/</a></li>
            <li class="list-group-item"><h4>Parivarthan</h4>
                Contact Number: +91 7676602602<br>
                <a class="link-info text-decoration-none" href="https://parivarthan.org/" target="_blank">https://parivarthan.org/</a></li>
            <li class="list-group-item"><h4>KIRAN</h4>
                Contact Number:  1800-599-0019<br>
                <a class="link-info text-decoration-none" href="https://health.vikaspedia.in/viewcontent/health/mental-health/toll-free-mental-health-rehabilitation-helpline-kiran?lgn=en" target="_blank">https://health.vikaspedia.in/viewcontent/health/mental-health/toll-free-mental-health-rehabilitation-helpline-kiran?lgn=en</a></li>       
        </ul>
    </div>
</div>
{%endblock content%}